section.about {
  padding: 0 15px;
  margin-bottom: 30px; }

.about_container {
  min-height: 200px;
  max-width: 530px;
  margin: 25px auto; }
  .about_container h2 {
    font-size: 18px;
    font-weight: bold;
    color: #3C3F4F; }
  .about_container p {
    color: #9CA0B4;
    font-size: 16px;
    line-height: 24px; }
  .about_container .wiz_container {
    max-width: 190px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 60px; }
    .about_container .wiz_container img {
      height: 72px; }
    .about_container .wiz_container #img_greater {
      margin: 0 20px; }
  .about_container .wiz_info_container {
    height: auto;
    max-width: 600px;
    margin: 0 auto; }

.prog_info_container {
  height: auto;
  max-width: 600px;
  margin: 0 auto; }

.prog_icon_container {
  box-sizing: border-box;
  height: auto;
  width: 170px;
  margin: 0 auto;
  margin-top: 40px; }
  .prog_icon_container .icons {
    margin-top: 20px; }
    .prog_icon_container .icons:last-child {
      margin-bottom: 20px; }
    .prog_icon_container .icons img {
      height: 30px;
      float: left; }
    .prog_icon_container .icons .icon_text {
      float: left;
      margin-left: 14px; }
      .prog_icon_container .icons .icon_text p {
        color: #9CA0B4;
        font-size: 16px;
        margin: 0;
        margin-top: 4px; }

body, h1, h2 {
  font-family: "Avenir Next", helvetica, sans-serif; }

h3, h4, h5, h6, p {
  font-family: "Lato", "Avenir Next", helvetica, sans-serif; }

.clearfix {
  overflow: auto; }

a {
  text-decoration: none; }

#horizontal, #horizontal2 {
  color: #D5D5D5;
  border-top: 1px solid #D5D5D5;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
  max-width: 900px; }

#horizontal2 {
  margin-top: 80px;
  margin-bottom: 0px; }

#logo_container {
  width: 285px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 5px 0; }

#logo_container_about {
  width: 240px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 5px 0; }

#logo_img {
  float: left;
  height: 64px;
  margin-right: 20px; }

.logo_right_container {
  float: left; }
  .logo_right_container #logo_title {
    color: #3C3F4F;
    font-size: 42px;
    margin: 0px; }
  .logo_right_container #logo_subtitle {
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    margin-left: 4px;
    margin-top: 3px; }

.projects {
  padding: 0 15px; }

.project_container {
  border: 1px solid #D5D5D5;
  border-radius: 5.5px;
  min-height: 200px;
  max-width: 630px;
  margin: 25px auto;
  box-shadow: 0px 0px 19px 1px #dbd7db;
  box-sizing: border-box;
  padding: 15px; }
  .project_container .project_img_container {
    height: auto;
    max-width: 600px;
    margin: 0 auto; }
    .project_container .project_img_container img {
      width: 100%; }
  .project_container .project_info_container {
    height: auto;
    max-width: 600px;
    margin: 0 auto; }
    .project_container .project_info_container .project_tag_container {
      display: none; }
    .project_container .project_info_container ul {
      margin: 0;
      padding: 0; }
      .project_container .project_info_container ul li {
        display: inline;
        margin: 0;
        padding: 0; }
      .project_container .project_info_container ul .project_date {
        color: #ACB0C1;
        padding-right: 10px;
        font-weight: 600; }
      .project_container .project_info_container ul .project_tag {
        color: #ACB0C1;
        font-weight: bold;
        margin-left: 25px; }
      .project_container .project_info_container ul .t_foundation:hover {
        color: #3498db; }
      .project_container .project_info_container ul .t_bootstrap:hover {
        color: #9b59b6; }
      .project_container .project_info_container ul .t_rails:hover {
        color: #e74c3c; }
      .project_container .project_info_container ul .t_node:hover {
        color: #2ecc71; }
      .project_container .project_info_container ul .t_react:hover {
        color: #3498db; }
    .project_container .project_info_container .project_header {
      font-size: 18px;
      font-weight: bold;
      color: #3C3F4F; }
    .project_container .project_info_container .project_header:hover {
      color: #F59F40; }
    .project_container .project_info_container .project_desc {
      color: #9CA0B4;
      font-size: 16px;
      line-height: 24px; }

#footer {
  width: 110px;
  margin: 0 auto;
  padding: 40px 0; }
  #footer .footer_beanie {
    height: 36px;
    float: left; }
  #footer .footer_wizard {
    height: 36px;
    float: left; }
  #footer .footer_about {
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 0px; }
    #footer .footer_about p {
      color: #9CA0B4;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      margin-top: 8px; }

@media screen and (min-width: 768px) {
  #logo_container {
    width: 285px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 5px 0; }

  .logo_right_container {
    padding-top: 6px; }

  #logo_img {
    height: 74px;
    margin-right: 20px; }

  #logo_title {
    font-size: 64px; }

  #logo_subtitle {
    color: #4A4A4A;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    margin-left: 4px;
    margin-top: 3px; }

  .project_container {
    max-width: 1000px;
    margin-top: 40px; }
    .project_container .project_img_container {
      box-sizing: border-box;
      float: left;
      width: 50%;
      padding: 10px; }
    .project_container .project_info_container {
      box-sizing: border-box;
      float: left;
      width: 50%;
      padding: 10px 15px; }
      .project_container .project_info_container .project_tag_container {
        display: block; }
      .project_container .project_info_container .project_header {
        font-size: 24px;
        font-weight: bold; }

  .about_container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 15px;
    min-height: 100px; }
    .about_container h2 {
      font-size: 18px;
      font-weight: bold;
      color: #3C3F4F; }
    .about_container p {
      color: #9CA0B4;
      font-size: 16px;
      line-height: 24px; }
    .about_container .wiz_container {
      box-sizing: border-box;
      float: left;
      margin: 0;
      max-width: 500px;
      padding: 10px;
      width: 50%; }
      .about_container .wiz_container .img_box {
        width: 320px;
        margin: 0 auto; }
        .about_container .wiz_container .img_box img {
          height: 100px;
          margin: 0; }
        .about_container .wiz_container .img_box #img_greater {
          margin: 0 30px; }
    .about_container .wiz_info_container {
      box-sizing: border-box;
      float: left;
      margin: 0;
      max-width: 500px;
      padding: 10px;
      width: 50%; }

  .prog_info_container {
    box-sizing: border-box;
    float: left;
    margin: 0;
    max-width: 530px;
    padding: 10px;
    width: 50%; }
    .prog_info_container .img_box {
      width: 320px;
      margin: 0 auto; }
      .prog_info_container .img_box img {
        height: 100px;
        margin: 0; }
      .prog_info_container .img_box #img_greater {
        margin: 0 30px; }

  .prog_icon_container {
    box-sizing: border-box;
    float: left;
    margin: 0;
    max-width: 530px;
    padding: 10px;
    width: 50%;
    margin-top: 50px;
    padding-left: 30px; }
    .prog_icon_container .icons_box {
      width: 325px;
      margin: 0 auto; }
      .prog_icon_container .icons_box .icons {
        display: inline-block;
        width: 150px;
        margin: 0;
        margin-right: 10px;
        margin-bottom: 10px; }
        .prog_icon_container .icons_box .icons .icon_text {
          float: left;
          margin-left: 7px; }
        .prog_icon_container .icons_box .icons:last-child {
          margin-bottom: 10px; } }
@media screen and (min-width: 1000px) {
  #logo_container {
    width: 290px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 5px 0; }

  #horizontal {
    color: #D5D5D5;
    border-top: 1px solid #D5D5D5;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 90%;
    max-width: 900px; }

  #projects .project_container .project_info_container {
    margin-top: 10px; }

  .about_container {
    width: 900px; } }
