body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Avenir Next"; }

.clearfix {
  overflow: auto; }

#logo_container {
  display: block;
  min-width: 400px;
  width: 400px;
  margin: 0 auto;
  margin-top: 100px; }

#main_logo {
  display: inline-block;
  height: 86px;
  margin-right: 20px; }

.binnyk_main {
  display: inline-block; }
  .binnyk_main #logo_main {
    color: #3C3F4F;
    font-size: 64px;
    margin: 0px; }
  .binnyk_main #logo_desc {
    color: #4A4A4A;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    margin-left: 4px;
    margin-top: 3px; }

#main_highlight {
  color: #D5D5D5;
  border-top: 2px solid #D5D5D5;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 90%;
  max-width: 900px; }

#projects {
  padding: 0 15px; }

.project_container {
  border: 1px solid #D5D5D5;
  border-radius: 5.5px;
  min-height: 200px;
  max-width: 630px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0px 0px 19px 1px #dbd7db;
  box-sizing: border-box;
  padding: 15px; }
  .project_container .project_img_container {
    height: auto;
    max-width: 600px;
    margin: 0 auto; }
    .project_container .project_img_container img {
      width: 100%; }
  .project_container .project_info_container {
    height: auto;
    max-width: 600px;
    margin: 0 auto; }
    .project_container .project_info_container .project_tag_container {
      display: none; }
    .project_container .project_info_container ul {
      margin: 0;
      padding: 0; }
      .project_container .project_info_container ul li {
        display: inline;
        margin: 0;
        padding: 0; }
      .project_container .project_info_container ul .project_date {
        color: #ACB0C1;
        padding-right: 10px;
        font-weight: bold; }
      .project_container .project_info_container ul .project_tag {
        font-weight: bold;
        margin-left: 25px; }
      .project_container .project_info_container ul .t_foundation {
        color: #3498db; }
      .project_container .project_info_container ul .t_bootstrap {
        color: #9b59b6; }
      .project_container .project_info_container ul .t_rails {
        color: #e74c3c; }
      .project_container .project_info_container ul .t_node {
        color: #2ecc71; }
      .project_container .project_info_container ul .t_react {
        color: #3498db; }
    .project_container .project_info_container .project_header {
      font-size: 18px;
      font-weight: bold;
      color: #3C3F4F; }
    .project_container .project_info_container .project_desc {
      color: #9CA0B4;
      font-size: 16px;
      line-height: 24px; }

@media screen and (min-width: 768px) {
  .project_container {
    max-width: 1000px; }
    .project_container .project_img_container {
      box-sizing: border-box;
      float: left;
      width: 50%;
      padding: 10px; }
    .project_container .project_info_container {
      box-sizing: border-box;
      float: left;
      width: 50%;
      padding: 10px 15px; }
      .project_container .project_info_container .project_tag_container {
        display: block; }
      .project_container .project_info_container .project_header {
        font-size: 24px;
        font-weight: bold; } }
