

// ======== HEADER and logo =========
#logo_container
	display: block
	min-width: 400px
	width: 400px
	margin: 0 auto
	margin-top: 100px


#main_logo
	display: inline-block
	height: 86px

.binnyk_main
	display: inline-block

	#logo_main
		color: #3C3F4F
		font-size: 64px
		margin: 0px

	#logo_desc
		color: #4A4A4A
		font-size: 18px
		margin: 0px

#main_highlight
	color: #D5D5D5
	border-top: 2px solid #D5D5D5
	margin-top: 100px
	width: 90%
	max-width: 900px

// ============ PROJECTS =============

.project_container
	border: 1px solid #D5D5D5
	border-radius: 5.5px
	height: 350px
	width: 90%
	max-width: 950px
	margin: 0 auto
	margin-top: 100px
	box-shadow: 0px 0px 19px 1px rgba(219,215,219,1)

	display: flex

	.project_img_container
		background-color: grey
		box-sizing: border-box

		height: 260px
		width: 420px
		
		.project_img
			width: auto
			height: auto








// room to type